<?xml version="1.0"?>
<launch>
    <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find coslam)/map/myMap.yaml" >
    <param name="frame_id" value="/map" />
  </node>
  <!-- Localization-->
  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <param name="odom_model_type" value="diff-corrected"/>
    <param name="base_frame_id" value="base_footprint"/>
    <param name="global_frame_id" value="map"/>
    <rosparam file="$(find coslam)/config/my_amcl_params.yaml" command="load" />
  </node>
  <!-- Move base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find coslam)/config/my_costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find coslam)/config/my_costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find coslam)/config/my_local_costmap_params.yaml" command="load" />
    <rosparam file="$(find coslam)/config/my_global_costmap_params.yaml" command="load" />
    <rosparam file="$(find coslam)/config/my_base_local_planner_params.yaml" command="load" />
    <param name="base_global_planner" type="string" value="navfn/NavfnROS" />
    <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>
    <remap from="map" to="/map" />
  </node>
  </launch>
